fresh, th {
    background: linear-gradient(WhiteSmoke, lightgray);
    text-align: left;
    border: 1px solid black;
    height: 400 px;
}

fresh, td {
    border: 1px solid black;
    border-bottom: 0;
    /*border-right: 0;*/
    height: 20px;
    text-align: left;
}

div th,
div td {
    
    border: 1px solid black;
    text-align: center;
}

#waitingTable th{
    padding: 10px;
}

table {
    display: inline;
    border-collapse: collapse;
}

input {
    text-align: center;
}

#curtain {
    background-color: white;
}

html,
body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
}
.push {
    height: 50px;
}
footer{
    padding: 10px;
    background: gray;
}
.text{
    color: white;
}